@import 'reset.css';
:root {
  --shadow: 0.1em 0 0.4em rgba(0, 0, 0, 0.08),
    -0.1em 0 0.4em rgba(0, 0, 0, 0.08);
}

body {
  background-color: #f6f9fc;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.canvas {
  width: 600px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  /*box-shadow: 10px 5px 5px #e0ebff;*/
  /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
  box-shadow: var(--shadow);
}
.controler {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controler .controler_bnts {
  margin-bottom: 30px;
}
.controler_bnts button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--shadow);
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.controler input {
  margin-bottom: 10px;
}
.controler_bnts button:active {
  transform: scale(0.96);
}

.controler_colors {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.controler_colors .controler_color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow);
  box-sizing: border-box;
  margin: 0px 2px;
}
